@import 'mixin';
* {
    box-sizing: border-box;
}
    body{
        background-position:center 0%;
        background-image: url("img/background1.png");
        background-repeat: no-repeat;   
        margin:0;
        background-color: rgb(255, 255, 255);
    }
    